
<center style='margin-top:100px;'><h1>Add a New Hypocrite!</h1></center>
<center><p>Contribute to the 50 Hypocrites Project by adding the relevant information below.</p></center>

<center><%= render 'form' %></center>

<center><%= link_to 'Back to the Map', '/' %></center>
